.caruselComponent__top {
  max-width: 1326px;
  margin: 0 auto;

  margin-top: 6.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--title {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 160%;
    color: #0b304f;
  }

  &--right {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 0;

    img {
      background: #12aadb;
      padding: 18px 21px;
      border-radius: 100px;
      cursor: pointer;
      margin-left: 1.5rem;
    }
  }
}

.caruselComponent {
  max-width: 1326px;
  margin: 0 auto;

  margin-top: 1.5rem;
  margin-bottom: 1.75rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;

  &__box {
    background: #e5f6fc;
    border-radius: 32px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &--img {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 232px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 16px;
    }

    &--img1 {
      background-image: url(../Images/Corusel/carusel-img-1.svg);
    }

    &--img2 {
      background-image: url(../Images/Corusel/carusel-img-2.svg);
    }

    &--img3 {
      background-image: url(../Images/Corusel/carusel-img-3.svg);
    }

    &--title {
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 140%;
      color: #0b304f;

      margin: 1rem 0 0.8rem 0;
    }

    &--description {
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      color: #0b304f;
      height: 66px;
      overflow: scroll;
      margin-bottom: 0.5rem;
    }

    &--button {
      display: flex;
      align-items: center;
      justify-content: start;

      font-family: "Gilroy-regular";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 160%;
      color: #0b304f;

      border: none;
      background: none;
      padding: 0.5rem 0;

      img {
        margin-left: 0.5rem;
      }
    }
  }
}

.caruselComponent__bottom {
  margin: 3.5rem 0 6rem 0;
  display: flex;
  justify-content: center;

  button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 64px;
    gap: 10px;

    width: 206px;
    height: 56px;

    background: #12aadb;
    box-shadow: 0px 8px 32px rgba(18, 170, 219, 0.3);
    border-radius: 16px;
    border: none;

    font-family: "Gilroy-regular";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
  }
}

// min-width: 1426px

@media only screen and (min-width: 1426px) {
  .caruselComponent {
    &__box {
      &--img {
        height: 236px;
      }
    }
  }
}

// min-width: 1526px

@media only screen and (min-width: 1526px) {
  .caruselComponent {
    &__box {
      &--img {
        height: 246px;
      }
    }
  }
}

// min-width: 1626px

@media only screen and (min-width: 1626px) {
  .caruselComponent {
    &__box {
      &--img {
        height: 256px;
      }
    }
  }
}

// min-width: 1726px

@media only screen and (min-width: 1726px) {
  .caruselComponent {
    &__box {
      &--img {
        height: 266px;
      }
    }
  }
}

// max-width: 1200px

@media only screen and (max-width: 1200px) {
}

// max-width: 1100px

@media only screen and (max-width: 1100px) {
  .caruselComponent {
    grid-template-columns: 1fr 1fr;
    &__box3 {
      display: none;
    }
  }
}

// max-width: 992px

@media only screen and (max-width: 992px) {
  .caruselComponent {
    &__box {
      &--img {
        height: 210px;
      }

      &--description {
        height: 96px;
      }
    }
  }
}

// max-width: 768px

@media only screen and (max-width: 768px) {
  .caruselComponent__top {
    &--title {
      font-size: 40px;
    }

    &--right {
      img {
        padding: 16px 19px;
        margin-left: 1rem;
      }
    }
  }

  .caruselComponent {
    grid-template-columns: 1fr;
    &__box {
      &--img {
        height: 232px;
      }

      &--description {
        height: auto;
      }
    }

    &__box2 {
      display: none;
    }
  }
}

// max-width: 576px

@media only screen and (max-width: 576px) {
  .caruselComponent__top {
    margin-top: 40px;
    margin-bottom: 1rem;

    &--title {
      font-weight: 700;
      font-size: 24px;
      line-height: 160%;
    }

    &--right {
      img {
        transform: scale(0.8);
        padding: 10px 13.54px;
        margin-left: 0;
      }
    }
  }

  .caruselComponent {
    margin-top: 1rem;
    margin-bottom: 1.5rem;

    &__box {
      padding: 1rem;
    }

    &--img {
      height: 225px;
    }

    &--title {
      font-weight: 700;
      font-size: 18px;
      line-height: 140%;
      margin: 1rem 0 0.5rem 0;
    }

    &--description {
      font-weight: 500;
      font-size: 14px;
      line-height: 140%;
      margin-bottom: 0.5rem;
    }
  }

  .caruselComponent__bottom {
    margin: 2rem 0 2.5rem 0;

    button {
      padding: 9px 36px;
      gap: 10px;

      width: 150px;
      height: 42px;

      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
    }
  }
}
