.galareya-title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 150%;
  text-align: center;
  color: #0b304f;
  text-align: left;

  margin-top: 120px;
  margin-bottom: 1.5rem;
}

.galareya {
  margin-bottom: 106px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1.5rem;

  img {
    transition: all 0.3s;
    border-radius: 24px;

    &:hover {
      transform: scale(1.03);
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
  }

  &__right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;

    transition: all 1s;
  }
}
