.row {
  position: absolute;
  width: 100vw;
  top: -5%;
  left: -5%;
  color: rgba(11, 48, 79, 0.1);
}

.mobile_button {
  display: flex;
  flex-direction: column;
  transition: all 5s;
}

.mobile {
  position: absolute;
  width: 100vw;
  transform: translateY(310px);
  left: -0.01%;
  margin: 0 auto;
  background: #e5f6fc;
  padding-bottom: 40px;

  &__language {
    padding: 1rem 1.5rem;
    background: #ffffff;
    border-radius: 16px;
    margin-bottom: 1rem;

    animation-name: mobileLanguage;
    animation-duration: 0.8s;

    &--title {
      font-family: "SF Pro Display";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      color: #021145;
    }

    &--box {
      display: flex;
      justify-content: space-between;

      animation-name: mobileLanguage;
      animation-duration: 1.5s;

      .checkBox {
        width: 20px;
        height: 20px;
        border: 1px solid rgba(11, 48, 79, 0.2);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .checkBox__active {
        border: 1px solid #0b304f;
      }

      .checkBox-active {
        padding: 5px;
        background: #0b304f;
        border: 1px solid #0b304f;
        border-radius: 10px;
      }
    }

    &--box-left {
      display: flex;
      align-items: center;
      margin-bottom: 8px;

      .language_img {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(35, 35, 35, 0.06);
        border-radius: 20px;

        img {
          width: 20px;
          height: 14px;
          border-radius: 2px;
        }
      }

      p {
        margin: 0 0 0 12px;

        &:hover {
          color: #12aadb;
        }
      }
    }
  }
  //

  &__head {
    padding: 0rem;
    background: #ffffff;
    border-radius: 16px;
    margin-bottom: 40px;

    animation-name: mobileHead;
    animation-duration: 0.8s;

    ul {
      list-style-type: none;

      animation-name: mobileBox;
      animation-duration: 1.8s;
      li {
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-family: "Gilroy";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        text-align: center;
        color: #0b304f;

        padding: 1rem 1.5rem;
        border-bottom: 1px solid rgba(11, 48, 79, 0.1);

        &:hover {
          color: #12aadb;
        }
      }

      li:nth-child(6) {
        border: none;
      }

      li:nth-child(2) {
        animation-name: mobileLi2;
        animation-duration: 1.8s;
      }

      li:nth-child(3) {
        animation-name: mobileLi3;
        animation-duration: 1.8s;
      }

      li:nth-child(4) {
        animation-name: mobileLi4;
        animation-duration: 1.8s;
      }

      li:nth-child(5) {
        animation-name: mobileLi5;
        animation-duration: 1.8s;
      }

      li:nth-child(6) {
        animation-name: mobileLi6;
        animation-duration: 1.8s;
      }
    }
  }

  &__bottom {
    animation-name: mobileBottom;
    animation-duration: 0.8s;

    display: flex;

    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 8px 32px;

    width: 136px;
    height: 42px;

    margin: auto auto;

    background: #12aadb;
    box-shadow: 0px 8px 32px rgba(18, 170, 219, 0.3);
    border-radius: 16px;

    font-family: "Gilroy";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #ffffff;
  }
}

// Animatsiya

@keyframes mobileLanguage {
  0% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes mobileBox {
  0% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes mobileHead {
  0% {
    transform: translateY(-120px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes mobileBottom {
  0% {
    transform: translateY(-120px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes mobileLi2 {
  0% {
    transform: translateY(-40px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes mobileLi3 {
  0% {
    transform: translateY(-60px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes mobileLi4 {
  0% {
    transform: translateY(-80px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes mobileLi5 {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes mobileLi6 {
  0% {
    transform: translateY(-120px);
  }

  100% {
    transform: translateY(0px);
  }
}
