.global-arrow {
  max-width: 1326px;
  // width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 56px;
  margin-bottom: 52px;

  &__img {
    width: 52px;
    height: 52px;
    background: #12aadb;
    border-radius: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;
  }
}

// max-width: 768px
@media only screen and (max-width: 768px) {
  .global-arrow {
    &__img {
      transform: scale(0.8);
    }
  }
}
