@font-face {
  font-family: Gilroy;
  src: url(../Fonts/Gilroy/Gilroy-Regular.ttf);

  font-family: Montserrat;
  src: url(../Fonts/Montserrat/Montserrat-Regular.ttf);

  font-family: Poppins;
  src: url(../Fonts/Poppins/Poppins-Thin.woff);
}
