// Main section

// Background
.mainBack {
  background: linear-gradient(#fff, rgba(#e5f6fc, 0.9), #fff);
}

// /Background

.main {
  max-width: 1326px;
  margin: 0 auto;

  margin-top: 0.5rem;
  margin-bottom: 1.5rem;

  display: grid;
  grid-template-columns: 1.5fr 1.4fr;

  &__left {
    &--date {
      font-family: "Gilroy-regular";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 160%;
      color: #576f83;
    }

    &--title {
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 700;
      font-size: 64px;
      line-height: 110%;
      color: #0b304f;

      margin-top: 3.1rem;
      margin-bottom: 1rem;
    }

    &--description {
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 160%;
      color: #8394a2;

      margin-bottom: 3rem;
      padding-right: 5rem;
    }

    &--buttons {
      display: flex;
      justify-content: start;
      align-items: center;
      margin-bottom: 3.5rem;
    }

    &--buttons-left {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 8px 32px;
      gap: 10px;
      width: 141px;
      height: 42px;
      background: #12aadb;
      box-shadow: 0px 8px 32px rgba(18, 170, 219, 0.3);
      border-radius: 16px;
      border: none;
      margin-right: 1.5rem;

      font-family: "Gilroy";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 160%;

      color: #ffffff;
    }

    &--buttons-right {
      display: flex;
      justify-content: start;
      align-items: center;

      font-family: "Gilroy";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 160%;
      color: #0b304f;
      background: none;
      border: none;

      img {
        margin-left: 0.5rem;
      }
    }
  }

  // ------

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    img.main-picture {
      width: 380px;
      height: 580px;
      z-index: 2;
    }

    .mainImgBack {
      position: absolute;
      // width: 559px;
      width: 107%;
      height: 320px;
      left: 95px;
      top: 235px;
      border-radius: 250px 0 0 250px;

      background: #12aadb;
      opacity: 0.1;
      z-index: 1;
    }

    .mainBox {
      text-align: center;
      padding: 2.6rem 1rem;
      position: absolute;
      width: 204px;
      height: 180px;
      left: 390px;
      top: 320px;

      background: #ffffff;
      box-shadow: 0px 8px 16px rgba(11, 48, 79, 0.03);
      border-radius: 32px;
      transition: all 0.3s;
      z-index: 4;

      &:hover {
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
          rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
          rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
      }

      &__top {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 1rem;
        position: relative;

        .ellipce {
          width: 52px;
          height: 52px;
          border: 1px solid #ffffff;
          border-radius: 50%;
          position: absolute;
          top: 0.1rem;
          transition: all 0.3s;

          &:hover {
            transform: scale(1.1);
            cursor: pointer;
            z-index: 8;
          }
        }

        .ellipce-1 {
          z-index: 1;
        }

        .ellipce-2 {
          z-index: 2;
          left: 24px;
        }

        .ellipce-3 {
          z-index: 3;
          left: 48px;
        }

        .ellipce-4 {
          z-index: 4;
          left: 72px;
        }

        .ellipce-5 {
          z-index: 5;
          left: 96px;
        }

        .ellipce-6 {
          z-index: 6;
          left: 120px;

          display: flex;
          align-items: center;
          justify-content: center;

          width: 52px;
          height: 52px;
          left: 120px;
          background: #12aadb;

          font-family: "Gilroy-regular";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 150%;
          color: #ffffff;
        }
      }

      &__bottom {
        font-family: "Gilroy-regular";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;

        color: #0b304f;
        padding-top: 3rem;
      }
    }
  }
}

//  min-width: 1450px

@media only screen and (min-width: 1450px) {
  .main {
    &__right {
      .mainImgBack {
        width: 101%;
        left: 138px;
      }

      .mainBox {
        left: 390px;
      }
    }
  }
}

//  min-width: 1550px

@media only screen and (min-width: 1550px) {
  .main {
    &__right {
      .mainImgBack {
        width: 101%;
        left: 148px;
      }

      .mainBox {
        left: 410px;
      }
    }
  }
}

//  min-width: 1600px

@media only screen and (min-width: 1600px) {
  .main {
    &__right {
      .mainImgBack {
        width: 101%;
        left: 155px;
      }

      .mainBox {
        left: 410px;
      }
    }
  }
}

//  min-width: 1700px

@media only screen and (min-width: 1700px) {
  .main {
    &__right {
      .mainImgBack {
        width: 105%;
        left: 155px;
      }

      .mainBox {
        left: 450px;
      }
    }
  }
}

//  min-width: 1750px

@media only screen and (min-width: 1750px) {
  .main {
    &__right {
      .mainImgBack {
        width: 108.5%;
      }
    }
  }
}

//  min-width: 1800px

@media only screen and (min-width: 1800px) {
  .main {
    &__right {
      .mainImgBack {
        width: 112%;
      }
    }
  }
}

//  min-width: 1850px

@media only screen and (min-width: 1850px) {
  .main {
    &__right {
      .mainImgBack {
        width: 116%;
      }
    }
  }
}

//  min-width: 1900px

@media only screen and (min-width: 1900px) {
  .main {
    &__right {
      .mainImgBack {
        width: 120%;
      }
    }
  }
}

//  min-width: 1950px

@media only screen and (min-width: 1950px) {
  .main {
    &__right {
      .mainImgBack {
        width: 124%;
      }
    }
  }
}

//  min-width: 2000px

@media only screen and (min-width: 2000px) {
  .main {
    &__right {
      .mainImgBack {
        width: 128%;
      }
    }
  }
}
// max-width: 1200

@media only screen and (max-width: 1200px) {
  .main {
    &__right {
      img.main-picture {
        width: 350px;
        height: 550px;
      }

      .mainImgBack {
        width: 100%;
      }

      .mainBox {
        padding: 1.8rem 1rem;
        left: 250px;
        top: 340px;
        height: 160px;
      }
    }
  }
}

// max-width: 992px

@media only screen and (max-width: 992px) {
}

// max-width: 768px

@media only screen and (max-width: 768px) {
}

// max-width: 576px

@media only screen and (max-width: 576px) {
}
