.priceMain-top {
  max-width: 1326px;
  margin: 0 auto;

  margin-top: 0.35625rem;
  margin-bottom: 2.3125rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__left {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 140%;
    color: #0b304f;
  }

  &__right {
    display: flex;
    justify-content: end;
    padding-left: 14%;
    p {
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 160%;
      color: #2b4b65;
    }
  }
}

.price {
  margin-top: 2.25rem;
  display: flex;
  justify-content: start;

  &__left {
    width: 264px;
    height: 1916px;
    padding: 1rem;
    border: 1px solid #86cae0;
    border-radius: 32px;
    list-style: none;
    margin-right: 2rem;

    &--title {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      padding: 8px 4px 8px 24px;
      gap: 10px;

      width: 232px;
      left: 16px;
      top: 100px;

      border-radius: 16px;

      font-family: "Gilroy";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 150%;
      color: #8394a2;

      transition: all 0.5s;

      &:hover {
        background: #12aadb;
        border-radius: 16px;
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        color: #ffffff;
      }
    }
  }

  &__right {
    padding: 2rem;
    border: 1px solid #86cae0;
    border-radius: 32px;
    width: 100%;

    &--head {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &--head-title {
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 120%;
      color: #0b304f;
    }

    &--head-search {
      width: 267px;
      height: 45px;
      background: #ffffff;
      border: 1px solid rgba(11, 48, 79, 0.2);
      border-radius: 16px;

      padding: 12px 1rem;
      display: flex;
      justify-content: space-between;

      input {
        border: none;
        outline: none;

        &::placeholder {
          font-family: "Gilroy";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 150%;
          color: rgba(11, 48, 79, 0.2);
        }
      }
    }

    &--tableHead {
      display: grid;
      grid-template-columns: 2fr 1.3fr;
      padding: 0 2.5rem;
      margin: 1.5rem 0 1rem 0;
      background-color: rgba($color: #12aadb, $alpha: 0.1);
      border-radius: 16px;

      font-family: "Gilroy";
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 160%;
      align-items: center;
      color: #0b304f;

      .sena {
        border-left: 1px solid #0b304f;
        padding: 1.3125rem 3rem;
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 160%;
      }
    }

    &--table-title {
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 160%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem;
      color: #576f83;
    }

    &--table {
      border-radius: 16px;
      list-style-type: none;

      li {
        display: grid;
        grid-template-columns: 2.2fr 1fr;
        padding: 1rem 2.5rem;

        font-family: "Gilroy";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 160%;
        align-items: center;
        color: #2b4b65;

        border-bottom: 1px solid rgba($color: #0b304f, $alpha: 0.5);
      }
    }

    &--table li:first-child {
      border-radius: 16px 16px 0 0;
    }

    &--table li:nth-child(odd) {
      background: #f3fcff;
    }
  }
}

@media only screen and (max-width: 992px) {
  .priceMain-top {
    justify-content: center;
    flex-direction: column;
    text-align: center;
    &__left {
      padding: 0;
      margin: 0;
    }

    &__right {
      padding: 0;
      margin: 0;
      p {
        padding: 0;
      }
    }
  }

  .priceMain {
    display: flex;
    flex-direction: column;
    text-align: center;

    &__title {
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 140%;
      color: #0b304f;
    }

    &__description {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 160%;
      color: #2b4b65;
      margin-bottom: 2rem;
    }
  }

  .price {
    display: flex;
    justify-content: center;
    // flex-direction: column;
    &__right {
      width: 100%;
    }

    &__left {
      display: none;
    }
  }
}

@media only screen and (max-width: 576px) {
  .priceMain-top {
    &__left {
      font-weight: 700;
      font-size: 24px;
      line-height: 140%;
      margin-bottom: 0.5rem;
    }

    &__right {
      p {
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
      }
    }
  }

  .priceMain {
    display: flex;
    flex-direction: column;
    text-align: center;

    &__title {
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 140%;
      color: #0b304f;
    }

    &__description {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 160%;
      color: #2b4b65;
      margin-bottom: 2rem;
    }
  }

  .price {
    display: flex;
    justify-content: center;
    // flex-direction: column;
    &__right {
      display: none;
    }

    &__left {
      width: 100%;
      display: inline-block;
    }
  }
}
