.services_section2 {
  max-width: 1326px;
  margin: 0 auto;
  margin-top: 89px;
  margin-bottom: 120px;

  display: grid;
  grid-template-columns: 1fr 1fr;

  &__left {
    position: absolute;
    left: 0;
    max-width: 650px;
  }

  &__right {
    margin-left: 2rem;
    &--title {
      margin: 10px 0;
    }

    &--title1 {
      margin: 8px 0;
    }

    &--title,
    &--title-1 {
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 150%;
      color: #0b304f;
    }

    &--description {
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #8394a2;
      margin-bottom: 0.5rem;
    }

    ul {
      margin: 0.5rem 0;
      list-style: none;
      li {
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #8394a2;
      }
    }

    ul li::before {
      content: "\2022";
      color: #ffb201;
      font-weight: bold;
      display: inline-block;
      width: 1rem;
      transform: scale(1.4);
    }
  }
}

// max-width: 1270px

@media only screen and (max-width: 1270px) {
  .services_section2 {
    &__left {
      max-width: 600px;
      margin-top: 2rem;
    }
  }
}

// max-width: 1200px

@media only screen and (max-width: 1200px) {
  .services_section2 {
    &__left {
      max-width: 550px;
      margin-top: 4rem;
    }
  }
}

// max-width: 1100px

@media only screen and (max-width: 1100px) {
  .services_section2 {
    &__left {
      max-width: 500px;
      margin-top: 5.5rem;
    }
  }
}

// max-width: 992px

@media only screen and (max-width: 992px) {
  .services_section2 {
    &__left {
      max-width: 400px;
      margin-top: 0rem;
    }

    &__right {
      &--description,
      &--title-1 {
        display: none;
      }
    }
  }
}

// max-width: 768px

@media only screen and (max-width: 768px) {
  .services_section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__right {
      order: 1;
    }

    &__left {
      order: 2;
      position: relative;
      max-width: 518px;
      margin-top: 1rem;
      border-radius: 400px;
    }
  }
}

// max-width: 576px

@media only screen and (max-width: 576px) {
  .services_section2 {
    margin: 1.5rem auto;

    display: flex;
    flex-direction: column;
    justify-content: center;

    span {
      display: none;
    }

    &__right {
      margin-left: 0;
      margin-right: 0;

      &--title {
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
      }

      ul {
        li {
          font-weight: 400;
          font-size: 14px;
          line-height: 150%;
        }
      }
    }

    &__left {
      position: relative;
      max-width: 518px;
      margin-top: 1rem;
      margin-bottom: 1rem;
      border-radius: 20px;
    }
  }
}
